﻿@model IEnumerable<rBook.Models.Konyvek>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="large-6 columns">
	<div class="row">
@foreach (var item in Model) {
    <div class="large-4 columns">
		<div class="panel radius" style="max-width:500px;">
		<div>
			<div style="display:inline"><img src="../Content/@item.borito" height="200" width="100" /></div>
            <div style="display:inline">
                <h5>@item.szerzo:</h5>
			    <h3>@item.cim (@item.kiadasEv.Value.Year)</h3>
            </div>
            @if (ViewBag.Active)
            {
                string url = "../Books/Read?isbn="+item.isbn;

                    <button type="submit" onclick="window.location='@url'" class="button">Olvas</button>
            }
		</div>
		</div>
    </div>

}
    </div>
</div>
