﻿@model rBook.Models.Konyvek

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="large-6 columns">
	<div class="row">
        <div class="large-6 columns large-centered">
        <h2>@Model.szerzo @Model.cim</h2>
        <h5>@Model.kiadasEv.Value.Year</h5>

    </div>
    </div>
@*    <p  style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">   
    <a title="@Model.szerzo - @Model.cim" href="@Model.url"  style="text-decoration: underline;" >George Orwell - 1984</a></p>*@
    <iframe class="scribd_iframe_embed" src="@Model.url" data-auto-height="false" data-aspect-ratio="undefined" scrolling="no" id="doc_77427" width="100%" height="600" frameborder="0"></iframe>
    
</div>
