﻿@model IEnumerable<rBook.Models.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Témák</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <p>
                @Html.ActionLink("Új létrehozása", "Create")
            </p>
        }
<table>
    <tr>
        <th>
            Fórum téma
        </th>
        <th>
            Utolsó hozzászólás
        </th>
        <th>
            Utolsó hozzászoló
        </th>
        <th>
            Létrehozva
        </th>
        <th>
            Létrehozó
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Topic", new { topic = item.id.ToString() }, new { @class = "small button", style="color:white;" })
        </td>
        <td>
            @Html.DisplayFor(modelitem=>item.LastPostDate)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.LastPost.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Felhasznalok.UserName)
        </td>
    </tr>
}

</table>
