﻿@model IEnumerable<rBook.Models.Posts>

@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
 <div class="large-10 columns centered">
<h2>@ViewBag.Topic.Name</h2>
@if (User.Identity.IsAuthenticated)
{
    <form action="~/Forum/Send" method="post">
    Hozzászólás:
    @Html.Hidden("topicId", (ViewBag.Topic as rBook.Models.Topic).id)
    @Html.TextArea("message", new { style = "width:500px;height:90px;" })
    <input type="submit" value="Elküld" />
    </form>
}
    @foreach (var item in Model) {
        <div class="row" style="display:inline-block;">
              <div class="large-10 columns"><h4>@item.Felhasznalok.UserName&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>@item.Created</small></h4></div>
              <div class="large-10 large-offset-1 columns">@item.Text</div>
        </div>  
        <hr />
    }
 </div>
 </div>