﻿@model rBook.Models.Elofizetesek

@{
    ViewBag.Title = "Subscribes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="large-4 columns large-centered">
    <ul class="pricing-table">
      <li class="title">Teljes előfizetés</li>
      <li class="price">$9.99</li>
      <li class="description">Hozzáférés minden taralomhoz</li>
      <li class="bullet-item">1 hónap</li>
      <li class="bullet-item">@Model.KezdDatum.ToString("yyyy.MM.dd")</li>
      <li class="bullet-item">@Model.LejarDatum.ToString("yyyy.MM.dd")</li>
      @if (!Model.FelhasznaloId.HasValue)
      {
          <li class="cta-button"><a class="button" href="../User/NewSubscribe">Előfizet</a></li>
      }
      else
      {
          <li class="cta-button"><a class="button success" href="../User/CancelSubscribe">Lemond</a></li>
      }
    </ul>
    </div>
</div>
@*<fieldset>
    <legend>Előfizetés</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KezdDatum)
    </div>
    <div class="display-field">
        
    </div>

    <div class="display-label">
         
    </div>
    <div class="display-field">
       
    </div>
</fieldset>*@
<p>
    @Html.ActionLink("Korábbi előfizetések", "Edit", new { id = Model.FelhasznaloId }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
