﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>RBook  &mdash; digitális tartalom bárhol, bármikor - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta charset="utf-8" />

        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"" />
        <!-- For third-generation iPad with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/img/favicons/apple-touch-icon-144x144-precomposed.png")">
        <!-- For iPhone with high-resolution Retina display: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/img/favicons/apple-touch-icon-114x114-precomposed.png")">
        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/img/favicons/apple-touch-icon-72x72-precomposed.png")">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/img/favicons/apple-touch-icon-precomposed.png")">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="icon" href="@Url.Content("~/img/favicons/favicon.ico")" type="image/x-icon" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <meta name="keywords" content="watch movies, movies online, watch TV, TV online, TV shows online, watch TV shows, stream movies, stream tv, instant streaming, watch online, movies, no download,books, full length movies" />
        <meta name="description" content="Watch Movies & Read Books Online or Streaming right to your PC & many other devices. Only /mo." />
        <meta name="author" content="RBOOK, inc. RBOOK network also includes rbook.com" />
        <meta name="copyright" content="RBOOK, inc. Copyright (c) 2013" />

        <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
        <link rel="stylesheet" href="@Url.Content("~/css/foundation.css")">
        <script src="@Url.Content("~/js/vendor/custom.modernizr.js")"></script>
        <script src="@Url.Content("~/js/randomcontentgen.js")"></script>

    </head>
    <body>
    <div class="contain-to-grid sticky">
  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
    <div class="large-3 columns">
      <a href="../Home/Index"><img src="@Url.Content("~/img/rbook_logo.png")" onclick="window.localtion='@Url.Content("~/Home/Index")'"></img></a>
    </div>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a class="active" href="#">Menu</a>
          <ul class="dropdown">
          <li><a href="../Forum">Fórum</a></li>
            <li><label>Könyvek</label></li>
			    <li class="has-dropdown">
					<a href="#" class="">Téma szerint</a>
					<ul class="dropdown">
                <li><a href="@Url.Content("~/Books/Theme?theme=krimi")">Krimi</a></li>
                <li><a href="@Url.Content("~/Books/Theme?theme=scifi")">Scifi</a></li>
                <li><a href="@Url.Content("~/Books/Theme?theme=fantasy")">Fantasy</a></li>
				</ul>
            </li>
@*            <li><a href="#">TBA</a></li>
            <li><a href="#">TBA</a></li>*@
			<li class="divider"></li>
            <li><a href="../Books/Index">Összes &rarr;</a></li>
            <li class="divider"></li>
            <li><label>Filmek</label></li>
				<li class="has-dropdown">
					<a href="#" class="">Téma szerint</a>
					<ul class="dropdown">
						<li><a href="@Url.Content("~/Movie/Theme?theme=krimi")">Krimi</a></li>
						<li><a href="@Url.Content("~/Movie/Theme?theme=scifi")">Scifi</a></li>
				</ul>
            </li>
@*            <li><a href="#">TBA</a></li>
            <li><a href="#">TBA</a></li>*@
            <li class="divider"></li>
            <li><a href="@Url.Content("~/Movie/Index")">Összes &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        </li>
       
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        @if (!User.Identity.IsAuthenticated)
        {
        <li class="has-dropdown">
          <a href="#">Belépés</a>
          <ul class="dropdown">
            
			<div class="content" data-slug="panel3" data-section-content>
			<li><form action="../User/Login" method="post">
            <li><div class="large-5 columns">
            <label class="inline">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div><li>
            <li><div class="large-5 columns">
            <input type="text" id="UserName" name="UserName" placeholder="e-mail">
            </div></li>
            <li><div class="large-5 columns">
            <label class="inline">Jelszó&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div></li>
            <li><div class="large-5 columns">
            <input type="password" id="Password" name="Password" placeholder="jelszó">
            </div></li>
            <button type="submit" class="button">Belépés&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			<button type="button" onclick="window.location='../User/Register'" class="button">Regisztráció&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			</form></li></div>  
            
          </ul>
        </li>
        }
        else
        {
          <li class="has-dropdown">
          <a href="../User/Index">@rBook.CurrentData.CurrentUser.UserIdentity.Name</a>
          <ul class="dropdown">
			<div class="content" data-slug="panel3" data-section-content>
			<li>
            <form action="../User/Subscribes">
            <button type="submit" class="button">Előfizetések&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			</form>
            <form action="../User/Logout">
            <button type="submit" class="button">Kijelentkezés&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
			</form>
            </li></div>  
            
          </ul>
        </li>
        }
        <li class="divider"></li>
          </ul>
        </li>
      </ul>
	  		         <ul class="center">
              <div class="row collapse">
 
                <div class="large-7 small-7 columns">
                  <input  onclick="this.value=''" type="search" value="Keresd meg kedvenc könyved & filmed nálunk"/>
                </div>
 
                <div class="large-1 small-5 columns">
                  <a href="#" class="postfix button expand">Keresés</a>
                </div>
				</div>
          </ul>
    </section>
  </nav></div>
  

@*        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>*@
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


      <footer class="row" style="max-width: 100%;">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>&copy; Copyright RBook 2013.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  
      <script>
          document.write('<script src=js/vendor/' +
      ('__proto__' in {} ? 'zepto' : 'jquery') +
      '.js><\/script>')
      </script>
      <script src="js/foundation.min.js"></script>
      <script>
          $(document).foundation();
          $(document).ready(function () {
              $(".title-area").click(function () {
                  //alert('kjkjdf');
                  //window.location = '';
              });
          });
      </script>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
