﻿@{
    ViewBag.Title = "";
}
<div class="randomcontent group1">

 <div class="main-header home random-1">  <div class="tablet-overlay">
    <div class="row">
      <div class="large-6 columns">
        <h1 class="light white-text">A legjobb tartalmak egy helyen </h1>
        <div class="row">
          <div class="large-11 columns">
            <p class="lead white-text"><strong>RBOOK</strong><br>Nézd kedvenc TV műsoraid & filmeid vagy olvasd kedvenc könyveid bármikor, bárhol.</p>
          </div>
        </div>          
      </div>  
    </div>
  </div></div>
</div>

<div class="randomcontent group1">

 <div class="main-header home random-2">  <div class="tablet-overlay">
    <div class="row">
      <div class="large-6 columns">
        <h1 class="light white-text">A legjobb tartalmak egy helyen </h1>
        <div class="row">
          <div class="large-11 columns">
            <p class="lead white-text"><strong>RBOOK</strong><br>Nézd kedvenc TV műsoraid & filmeid vagy olvasd kedvenc könyveid bármikor, bárhol.</p>
          </div>
        </div>          
      </div>  
    </div>
  </div></div>

</div>

<div class="randomcontent group1">

 <div class="main-header home random-3">  <div class="tablet-overlay">
    <div class="row">
      <div class="large-6 columns">
        <h1 class="light white-text">A legjobb tartalmak egy helyen </h1>
        <div class="row">
          <div class="large-11 columns">
            <p class="lead white-text"><strong>RBOOK</strong><br>Nézd kedvenc TV műsoraid & filmeid vagy olvasd kedvenc könyveid bármikor, bárhol.</p>
          </div>
        </div>          
      </div>  
    </div>
  </div></div>

</div>

<div class="randomcontent group1">

 <div class="main-header home random-4">  <div class="tablet-overlay">
    <div class="row">
      <div class="large-6 columns">
        <h1 class="light white-text">A legjobb tartalmak egy helyen </h1>
        <div class="row">
          <div class="large-11 columns">
            <p class="lead white-text"><strong>RBOOK</strong><br>Nézd kedvenc TV műsoraid & filmeid vagy olvasd kedvenc könyveid bármikor, bárhol.</p>
          </div>
        </div>          
      </div>  
    </div>
  </div></div>

</div>


<script type="text/javascript">
    //Random tartalom után való meghívás:
    randomcontentdisplay.init()

</script>